<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-button slot="end">
      <ion-back-button defaultHref="/landing"></ion-back-button>
    </ion-button>
  </ion-toolbar>

  <div class="header">
    <ion-title class="title">
      Ingresa tu email
      <p class="subTitle">Para reestablecer tu contraseña</p>
    </ion-title>
  </div>
  <div>
    <ion-item>

      <ion-input [(ngModel)]="email" placeholder="Correo electrónico" class="input" ></ion-input>
      <ion-icon name="person-outline" color="medium"></ion-icon>
    </ion-item>
    <div class="error-message" *ngIf="emailNotFound">El correo no está registrado</div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 50px;">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
