<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  
  </ion-header>
  <ion-title>
    Bienvenido, {{username}}!  
</ion-title>

  <div id="container">
    You are 
    <ion-text *ngIf="status" color="success">Online</ion-text> 
    <ion-text *ngIf="status === false" color="danger">Offline</ion-text>
  </div>

  <div id="container">
    <strong>Welcome to iTakeYouApp!</strong>
    
    
    <div *ngIf="!loaded">
      <ion-button class="conductor skeleton-button" expand="full">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 40px"></ion-skeleton-text>
      </ion-button>
      <ion-button class="pasajero skeleton-button" expand="full">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 40px"></ion-skeleton-text>
      </ion-button>
    </div>
    
    
    <div *ngIf="loaded">
      <ion-button class="conductor" [routerLink]="['/driver']" expand="full">Disponibilizar</ion-button>
      <ion-button class="pasajero" [routerLink]="['/passenger']" expand="full">Solicitar</ion-button>
    </div>
  </div>
</ion-content>